* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#first_box {
    width: 100%;
    height: 620px;
    border-top: 1px solid;
    /*border-bottom: 1px solid;*/
    position: relative;
    top: 140px;
    padding-top: 50px;
    /*margin-top: -25px;*/
}

#first_box i {
    position: absolute;
    top: -20px;
    font: italic 400 24px "Microsoft Yahei";
    background: white;
    margin-left: 40px;
}

#pic_box {
    border-radius: 20%;
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
    position: absolute;
    top: : 0;
    left: 0;
    overflow: hidden;
    background: pink;
    cursor: pointer;
    float: left;
    /*margin: 50px 0 50px 0;*/
}

#cont_box {
    width: 750px;
    height: 500px;
    float: right;
    background: rgba(220, 162, 151, 0.3);
    font: normal 400 18px "Microsoft JhengHei UI Light";
    padding: 100px;
    padding-left: 250px;
}

#second_box {
    width: 100%;
    height: auto;
    background: #EAEAEC;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#second_box #second_line {
    width: 100%;
    height: 1px;
    border-top: 1px solid;
    display: block;
    position: absolute;
    top: 35px;
}

#second_box i {
    font: italic 400 22px "Microsoft Yahei";
    margin-left: 110px;
    margin-top: 20px;
    background: #EAEAEC;
    position: absolute;
}

#second_box div {
    width: 200px;
    height: 250px;
    background: rgba(100, 100, 10, 0.4);
    margin: 70px 0 30px 100px;
    padding-top: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
}

#second_box div p {
    margin: 20px 0;
}

#second_box div p:nth-of-type(1) {
    font-size: 22px;
    color: white;
}

#second_box div .showdetail {
    border-radius: 10px;
    margin: 0 auto;
}

#second_box #link_page {
    position: absolute;
    top: 35px;
    right: 40px;
    background: pink;
    width: 60px;
    height: 200px;
}

#second_box #link_page li {
    width: 100%;
    height: 25%;
    border: 1px solid;
}

#third_box {
    width: 100%;
    height: 600px;
    display: none;
    background: url(../img/199.jpg);
    overflow: hidden;
    margin-bottom: 20px;
}

#news_content {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0);
    border-top: 1px solid;
    position: relative;
    float: left;
}

#news_content>p {
    position: absolute;
    left: 600px;
    top: 50px;
    border-radius: 8px;
}

#news_content i {
    font: italic 400 22px "Microsoft Yahei";
    position: absolute;
    top: -20px;
    left: 110px;
    background: #235CB6;
}

#news_content img {
    width: 400px;
    height: 300px;
    margin: 50px 50px 0 20px;
    float: left;
}

#news_content ul {
    float: left;
    width: 400px;
    height: 400px;
    margin: 120px 0px 0 0;
    color: white;
}

#news_content ul li {
    margin-top: 30px;
}

#join {
    width: 350px;
    height: 500px;
    float: right;
    background: rgba(100, 100, 100, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    padding-right: 0;
    display: none;
}

#join #close_join {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: rgb(178, 200, 187);
    position: absolute;
    right: 3px;
    top: 3px;
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: 50%;
}

#join p {
    font: italic 400 20px "Microsoft Yahei";
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#join .join_input {
    display: block;
    width: 70%;
    height: 30px;
    margin-left: 5px;
}

#join .showreq {
    color: white;
    display: inline;
    position: relative;
    font-size: 14px;
    top: -26px;
    left: 220px;
}

#join select {
    display: block;
    width: 40%;
    height: 25px;
    margin: 10px;
}

.join_btn {
    margin-left: 50px;
    margin-top: 20px;
}

.footbox {
    display: none;
}
